from sofos import models


# Create your models here !!
# Following models are for test purposes only
# Delete and replace with yours

class Erg(models.Model):
    epo = models.CharField('Επώνυμο', max_length=30, unique=True)
    ono = models.CharField('Όνομα', max_length=30)

    class Meta:
        unique_together = ['epo', 'ono']
        table_label = 'Εργαζόμενοι'

    def __str__(self):
        return '%s %s' % (self.epo, self.ono)


class Company(models.Model):
    age = models.IntegerField('Ηλικία')
    xristis = models.CharField('Χρήστης', max_length=30)
    erg = models.ForeignKey(Erg, 'Εργαζόμενος')

    class Meta:
        table_label = 'Εταιρεία'

    def __str__(self):
        return self.id
