"""Put your settings here"""

setup = dict(application_title='Δοκιμαστική εφαρμογή',
             version='0.1',
             description='Γενικά δοκιμαστική εφαρομογή',
             url='',
             author='Ted Lazaros',
             author_email='tedlaz@gmail.com',
             organization_name='MyOrganization',
             organization_domain='MyDomain',
             application_name='Test',
             license='GPLv3',
             dbf='/home/tedlaz/prj/pyted/2018/tedutil/aa.sql3')
